fastapi
uvicorn
jinja2
python-multipart
whisper
openai-whisper
langchain
langchain-community
langchain-google-genai==2.1.5
google-ai-generativelanguage==0.6.18
gtts
faiss-cpu
pypdf
soundfile
numpy
requests
beautifulsoup4
pydub
google-cloud-speech
google-cloud-texttospeech
twilio